body {
	margin: 0px !important;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
	width: 300px;
	height: 300px;
	color: #fff;
	margin: 0px;
	font-size: 20px;
}

.container > a > div {
	flex-grow: 1;
	padding: 5px 10px;
	height: 90px;
	box-shadow: inset 1px 10px 9px -6px rgba(0,0,0,0.3);
}

.container a {
	color: #fff;
	text-decoration: none;
}

.options {
	padding: 20px;
	background-color: #434343;
	font-size: 15px;
}

.options a {
	color: #0093dd;
}

.options a:hover {
	color: #294ddb;
}

.options input {
	width: 100%;
	border-radius: 10px;
	text-align: center;
}

button {
	background-color: #294ddb;
	color: #fff;
	border-radius: 10px;
	width: 50%;
	margin: 0 auto;
}

button:hover,
button:focus {
	background-color: #00018f;
	color: #fff;
}

.big-number {
	font-size: 24px;
	font-weight: 800;
}

p {
	text-shadow: 0 -2px 0 rgba(0,0,0,0.4);
}

#user {
	background-color: #0af;
}

#lessons {
	background-color: #f0a;
}

#review {
	background-color: #a0f;
}